.custom-list-item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.custom-list-item::before {
  content: '✔';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}
.post-requirement{
  color:'white !important'
}